.projectWrapper{
    background-color: #CE0F3D;
}
.project {
    padding-top: 10px;
    background-color: white;
    border-bottom: solid 2px #B0B7BC;
}
.project img {
    height:100px;
    width:auto;
    background-color: white,
}
#app {
    width:auto;
    padding-bottom:5px; 
    height:auto;
    max-height: 400px;
    max-width: 400px;
    padding-left: 10px;
    border: 0px solid black;
} 
.project .btn{
    margin:10px 10px 10px 10px;
}
