.App {
  text-align: center;
}
.header {
  background-color: #B0B7BC;
  padding: 20px 0px 20px 0px;
  border-bottom:solid 2px black;
}
.headerWrapper {
  background-color: white;
  width: fit-content;
  margin: 0 auto;
  padding: 10px 10px 10px 10px;
}
.header h1 {
  font-weight: 700;
}
.header h3 {
  font-weight: 600;
}  
.header h4 {
  font-weight: 400;
}
